First Name: 
= @first
%br
Last Name: 
= @last
%br
Email: 
= @email
%br
Organization: 
= @org
%br
Phone: 
= @phone
%br
- if !@interests.nil?
  Interested in: 
  - @interests.each do |interest|
    = "#{interest},"
- if !@page_title.nil?
  On page: 
  = "#{@page_title}"
